<head>
  <title>app</title>
</head>

<body>
  {{> hello}}
</body>

<template name="hello">
  <p>&nbsp;</p>
  <center>
    <button class="squeak myButton">Toot #1</button>
    <p>&nbsp;</p>
    <button class="squawk myButton">Toot #2</button>
    <p>&nbsp;</p>
    <button class="squirt myButton">Toot #3</button>
    <p>&nbsp;</p>
    <p>Toot count: {{counter}}</p>
  </center>
</template>
